@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ============ M Y       S T Y L E  =========*/

.nav-container {
  width: 100%;
  text-align: center;
}

.page-title {
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(46, 48, 61);
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 2vw;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  transition: all linear 200ms;
}

.nav-item:hover {
  background-color: rgb(46, 47, 69);
  color: white;
  box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
}
